/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

 html, body, .root {

} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	height: 100%;
}


.App {

    display: flex;
	text-align: center;
	height: 100%;
}



.sidebar {

    border: 1px solid black;
    width: 20%;
	max-width: 250px;
}


.map {
     max-width: 70%;


}
