* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	height: 100%;
}

.App {

	display: flex;
	text-align: center;
	height: 100vh;


}



.sidebar {


	width: 25%;
	background-color: #AA3939;

}


.sidebar-header {
	display: flex;
	min-height: 75px;
	background: #2e3d49;
	position: relative;
	z-index: 11;
}


.title {
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
	padding-top: 10px;
	color: white;
}


nav {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	color: white;
	z-index: 10;
	position: relative;


}

.search-input {
	border: none;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 4px;
	padding: 0.5em;
	text-align: center;
	color: #801515;
	background-color: #ffaaaa;
	outline-color: #801515;

}

.menu-list {
	display: block;
	background-color: #AA3939;
	list-style: none;
	padding:0;
	margin:0;
	transition:all 0.5s ease-in-out;
	transform: translateY(0px);
}


.menu-items {

	margin-top:10px;

}

.menu-items:nth-child(1) {
	margin-top: 10px;
}
.menu-items:last-child {
	margin-bottom: 20px;
}


.menu-items a:link {

	color: #ffaaaa;
	text-decoration: none;
}

.menu-items a:visited {
	color: #ffaaaa;
}

.menu-items a:hover {
	color: #550000;
}

.map {

	 width: 75%;
	 position: relative;

}



@media screen and (max-width: 900px) {

	.App {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

	}
	.sidebar {

		height: 13%;
		width: 100%;


	}
	.map {
		height: 87%;
		width: 100%;
		position:relative;
		z-index: 12;
	}


	.sidebar-header {
		display: flex;
		height: 75px;
		background: #2e3d49;
		position: relative;
		z-index: 11;
	}
	.title {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-top: 20px;
		color: white;
	}

	#closebtn {
	    height:25px;
	    width:35px;
	    position: absolute;
	    text-decoration:none;
	    top: 17px;
	    right: 0;
	    font-size: 36px !important;
	    margin-right: 10px;
		margin-left: 20px;
	    z-index:100;
	    cursor:pointer;
	    transition: background-position .3s;
	}
	.line1, .line2, .line3 {
		margin-top:7px;
		background-color:#fff;
		width:35px;
		height:3px;
		display:block;
		position:relative;
		opacity:1.0;
		border-radius:15%;
		transition: all .3s;
	}
	.line1.active {
	  transform: rotate(270deg);
	  opacity:0.0;
	  top: 10px;
	}

	.line2.active {
	  transform: rotate(45deg);
	  top: 3px;
	}

	.line3.active {
	  transform: rotate(-45deg);
	  top:-7px;
	}

	nav {

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		color: white;
		z-index: 10;
		position: relative;


	}

	.search-input {
		border: none;
		margin-top: 20px;
		margin-bottom: 10px;
		border-radius: 4px;
		padding: 0.5em;
		text-align: center;
		color: #801515;
		background-color: #ffaaaa;
		outline-color: #801515;

	}
	/*https://stackoverflow.com/questions/7381446/center-html-input-text-field-placeholder*/
	/*https://davidwalsh.name/html5-placeholder-css*/
	.search-input::-webkit-input-placeholder {
		color: #d46a6a;
		text-align: center;
	}
	.search-input:-moz-placeholder { /* Firefox 18- */
		color: #d46a6a;
		text-align: center;
	}
	.search-input::-moz-placeholder {  /* Firefox 19+ */
		color: #d46a6a;
		text-align: center;
	}
	.search-input:-ms-input-placeholder {
		color: #d46a6a;
		text-align: center;
	}

	.menu-list {
		display: block;
		background-color: #AA3939;
		list-style: none;
		padding:0;
		margin:0;
		transition:all 0.5s ease-in-out;
		transform: translateY(0px);
	}

	.menu-list.hidden {
		/* display: none; */

		background-color: #AA3939;
		list-style: none;
		padding:0;
		margin:0;
		transform: translateY(-1000px);

	}


	.menu-items {

		margin-top:10px;

	}

	.menu-items:nth-child(1) {
		margin-top: 10px;
	}
	.menu-items:last-child {
		margin-bottom: 20px;
	}


	.menu-items a:link {

		color: #ffaaaa;
		text-decoration: none;
	}

	.menu-items a:visited {
		color: #ffaaaa;
	}

	.menu-items a:hover {
		color: #550000;
	}
}
